 @keyframes scrollBg {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-330px);
  }
} 

.scroll-bg {
  height: 200%;
  width: 100%;
  position: fixed;
  padding-bottom: 330px;
  background-color: #E8BA9B;
  background-image: url('/public/bgcar.jpg');
  filter: blur(5px) brightness(0.5);
  background-size: cover;
  animation: scrollBg 35s linear infinite;
}

@media (max-width: 768px) {

  :link{
    font-size: x-small;
  }
}

 .chat-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    width: 93%;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: auto;
    overflow-x: hidden;
    border: 2px solid rgb(166, 165, 165);
    background-color: #e8eeff;
    height: 670px;
  }

  .header {
    background-color: rgb(14, 44, 34);
    color: white;
    width: 100%;
    text-align: center;
  }
  .messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .message {
    display: flex;
    flex-wrap: wrap; /* Add this property */
    align-items: flex-start;
    margin-bottom: 10px;
    white-space: normal;
    color: #fcf9f9;
    background-color: rgb(14, 44, 34);
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    max-width: 70%; /* Adjust the max width as needed */
}

 
  .user {
    font-weight: bold;
    margin-right: 10px;
    margin-left: 5px;
    color: #f3eded;
  }
  
  .new-message-form {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: white;
  }
  
  .new-message-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    padding: 10px;
    background-color: white;
    border-radius: 5px 0 0 5px;
  }
  
  .send-button {
    border: none;
    width: 50px;
    border-radius: 0.4rem;
    background:  rgb(14, 44, 34);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-right: 3px;
    cursor: pointer;
  }

.card{
  float: left;
  margin: 6px;
}

.form-input{
  border-radius: 5px;
  color: #333;
}

.container .box{
  display: flex;
  flex-direction: row;
}

.card-content{
  text-align: left;
}
.card-first{
  width: 16rem;
  height:34rem
}

.card-third{
  width: 15rem;
  height: 20rem
}

@media (max-width:768px) {
  .container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
  }
  .card-third{
    margin-top: 70px;
    width: 50px;
    height: 200px;
  }
  .card-first{
    width: 300px;
    height: 420px;
  }
  .chat-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    width: 93%;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: auto;
    overflow-x: hidden;
    border: 2px solid rgb(166, 165, 165);
    background-color: #e8eeff;
    height: 690px;
  }
}



