 .navbar {
    color: #fff; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight:500;
  }

  @media (max-width:768px){
    .navbar {
      color: #fff; 
      padding: 2px 2px;
      align-items: center;
      font-size: 12px;
      font-weight:400;
    }
    .nav-item {
      margin-right: 3px;
      border-radius: 5px;
      padding: 2px;
      background-color: none;
    }
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
    border-radius: 10px;
    background-color: #000;
    padding: 6px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-item.active {
    text-decoration: overline; 
    color: #fff;
  }
  
  
  